body,
html {
  margin: 0;
  box-sizing: border-box;
  height: 100%;
}

.navbar {
  overflow: hidden;
  background-color: rgb(42, 185, 185);
  height: 60px;
  text-align: center;
  z-index: 1;
}

.nav-item {
  padding: 17px;
}

.nav-link {
  cursor: "pointer";
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.nav-link:hover {
  background-color: #4c9e9e;
  text-decoration: underline;
}
